.selectors {
  h2 {
    font-size: 36px;
    color: hsla(215, 40%, 19%, 1);
    line-height: 45px;
  }

  h3 {
    font-size: 24px;
    color: hsla(214, 25%, 56%, 1);
    line-height: 30px;
  }

  h2,
  h3 {
    font-weight: 700;
  }

  p,
  p.highlight {
    font-size: 16px;
    line-height: 20px;
  }

  p {
    font-weight: 400;
  }

  p.highlight {
    font-weight: 700;
  }

  .article p.highlight {
    color: hsla(4, 90%, 58%, 1);
  }
}
